*{
 margin: 0;
 padding: 0;
}

:root{
--color-menu: #4a4a4a;
--color-bg: #3CDBC0;
--color-main: #FFFFFF;
}

body{
    font-family: 'Rubik', sans-serif;
}


/* HEADER */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.logo{
   width: 155px;
   padding-bottom: 10px;
}

/* MENU NAV */

.menu-nav{
    margin-top: 10px;
    margin-bottom: 13px;
}
.menu-nav-list{
    display:flex;
    list-style: none;
}
.menu-nav-list a{
    font-size: 16px;
    color: var(--color-menu);
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }

/* MAIN */

.main{
    background-color:var(--color-bg);
    height: 100vh;
  }

  .text-main-title{
    text-align: center;
    padding: 200px 50px;
  }
  .main-text{
   display: block;
   font-size: 30px;
   color: var(--color-main);
  }
  
  @media all and (min-width: 768px){
    .container-header{
        max-width: 1120px;
        margin: 0 auto;
        padding: 0 30px;
    }

    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    /* main */
    .text-main-title{
        padding: 300px 50px;
      }
    .main-text{
        font-size: 40px;
    }
  }